<div class="row">
  <div class="col-lg-8">
    <div class="card">
      <div class="card-body p-3">
        <div class="d-flex flex-wrap">
          <div>
            <h4 class="card-title m-0">{{ 'dashboard.statistics.title' | translate }}</h4>
          </div>
          <div class="ml-auto">
            <ul class="list-inline">
              <li>
                <h6 class="text-warning">
                  <i class="fa fa-circle font-10 m-r-10 "></i>{{ 'dashboard.statistics.admitted' | translate }}</h6>
              </li>
              <li>
                <h6 class="text-danger">
                  <i class="fa fa-circle font-10 m-r-10 "></i>{{ 'dashboard.statistics.deaths' | translate }}</h6>
              </li>
              <li>
                <h6 class="text-success">
                  <i class="fa fa-circle font-10 m-r-10"></i>{{ 'dashboard.statistics.recovered' | translate }}</h6>
              </li>
            </ul>
          </div>
        </div>
        <div class="d-flex flex-wrap m-b-20">
          <div class="ml-auto">
            <div class="form-group m-0 row force-align-items-center" style="width: 250px;">
              <label class="col-6 col-form-label text-small" style="text-align: right;">{{ 'dashboard.statistics.filter.label' | translate }}</label>
              <select class="col-6 form-control form-control-sm custom-select" tabindex="1" [(ngModel)]="statisticsDays"
                (change)="initializeStatisticsChart()">
                <option *ngFor="let opt of statisticsDaysOptions" [ngValue]="opt">{{ opt }}
                  {{ 'dashboard.statistics.filter.days' | translate }}</option>
              </select>
            </div>
          </div>
        </div>
        <div style="height:275px;">
          <canvas *ngIf="lineChartData.length > 0" baseChart [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-5">
    <div class="card card-default">
      <div class="card-header">
        <h4 class="card-title m-b-0">{{ 'dashboard.status.title' | translate }}</h4>
      </div>
      <div class="card-body collapse show p-3">
        <div style="height: 220px" class="piechart">
          <x-chartist *ngIf="statusChart.data.series" class="" [data]="statusChart.data" [type]="statusChart.type"
            [options]="statusChart.options" [responsiveOptions]="statusChart.responsiveOptions"
            [events]="statusChart.events"> </x-chartist>
        </div>
      </div>
      <ul class="list-inline m-t-20 text-center">
        <li>
          <h6 class="text-muted">
            <i class="fa fa-circle text-warning"></i> {{ 'dashboard.status.admitted' | translate }}</h6>
          <h4 class="m-b-0">{{ admitted | number }}</h4>
        </li>
        <li>
          <h6 class="text-muted">
            <i class="fa fa-circle text-danger"></i> {{ 'dashboard.status.deaths' | translate }}</h6>
          <h4 class="m-b-0">{{ deaths | number }}</h4>
        </li>
        <li>
          <h6 class="text-muted">
            <i class="fa fa-circle text-success"></i> {{ 'dashboard.status.recovered' | translate }}</h6>
          <h4 class="m-b-0">{{ recovered | number }}</h4>
        </li>
      </ul>
    </div>
  </div>
</div>
