<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body p-md-5 p-3" style="font-size: 14px;">
                <div class="row m-b-20">
                    <div class="col-12">
                        <h2 style="display: inline-block; margin-right: 20px; margin-bottom: 0;">About the team</h2>
                    </div>
                  </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-badge warning">
                            <img class="img-responsive" alt="user" src="assets/images/about/jjc-thumb.jpg" alt="img">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Joseph John C.</h4>
                                <p>
                                    <small class="text-muted">Lead Developer / Designer</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    <img class="img-responsive" alt="user" src="assets/images/about/jjc-profile.jpg"
                                        alt="img">
                                </p>
                                <p class="pt-3">I am the master of my fate, and the captain of my destiny.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">
                            <img class="img-responsive" alt="user" src="assets/images/about/aldrin-thumb.jpg" alt="img">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Aldrin M.</h4>
                                <p>
                                    <small class="text-muted">Business Analyst / Lead Content Manager</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>Business owner, father of three, husband, friend, brother, etc. A champion is someone who gets up when he can’t.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge success">
                            <img class="img-responsive" alt="user" src="assets/images/about/reland-thumb.jpg" alt="img">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Reland P.</h4>
                                <p>
                                    <small class="text-muted">Lead Operations Manager</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>Make life fun today, because tomorrow isn’t guaranteed. Sunsets are proof that endings can be beautiful too.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge success">
                            <img class="img-responsive" alt="user" src="assets/images/about/mikko-thumb.jpg" alt="img">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Mikko D.</h4>
                                <p>
                                    <small class="text-muted">Business Analyst / Lead Content Manager</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>The most important things in life aren’t things. Every picture tells a story.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge success">
                            <img class="img-responsive" alt="user" src="assets/images/about/berto-thumb.jpg" alt="img">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">Alberto D.</h4>
                                <p>
                                    <small class="text-muted">Muse</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>Why fit in when you were born to stand out. Who am I? I have not found the answer yet.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>