<div #summary>
    <ncov-summary-ph #summary [confirmedData]="confirmedData" [summaryData]="summaryData" (updateAllEmit)="updateAll()"
        (scrollViewToPanelEmit)="scrollViewToPanel($event)">
    </ncov-summary-ph>
</div>
<div #stats>
    <ncov-stats-ph [summaryData]="summaryData" (updateAllEmit)="updateAll()"
        (scrollViewToPanelEmit)="scrollViewToPanel($event)"></ncov-stats-ph>
</div>
<div #map>
    <ncov-map-ph [mapData]="masterlist" [residenceData]="residenceData" [focusMarker]="focusMarker" (updateAllEmit)="updateAll()"
        (scrollViewToPanelEmit)="scrollViewToPanel($event)"></ncov-map-ph>
</div>
<div #datasets>
    <ncov-datasets-ph #datasets [masterlist]="masterlist" (focusOnMarkerEmit)="focusOnMarker($event)"
        (updateAllEmit)="updateAll()" (scrollViewToPanelEmit)="scrollViewToPanel($event)"></ncov-datasets-ph>
</div>